*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: right;
    direction: rtl;
}
body{
    font-family: 'Vazirmatn';
    background: linear-gradient(#ffe53c,#e0e0e0);
}
.contact-con{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: rgb(10, 0, 68);
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 200px;
    height: 3px;
    background-color: rgb(9, 9, 9);
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    font-family: 'Vazirmatn';
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    padding-right: 16px;
    margin-right: 10px;
    font-weight: 500;
    color: rgb(10, 0, 68);
    border-radius: 50px;
    background: #f0f0f0;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #b8ae3d;
}
.contact-inputs::placeholder{
    color: #747474;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #dad9d4;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: #0c0c0c;
    cursor: pointer;
}
.contact-right img{
    width: 500px;
}
@media (max-width:800px) {
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }

}